<html>

<head>
    <title> Doodle4rce </title>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/board.css" />
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="stylesheet" href="/css/solution.css" />
    <link rel="stylesheet" href="/css/lobby.css" />
    <link rel="stylesheet" href="/css/results.css" />
    <link rel="stylesheet" href="/css/general.css" />

    <script>
        // run all these before loading any scripts
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return null;
        }
        const roomname = getQueryVariable("roomname");
        const username = getQueryVariable("username");
        const gameType = getQueryVariable("gameType");

        // inserting query params into window object ot make it accessible globally
        window.roomData = {
            roomname: roomname,
            username: username,
            gameType: gameType
        }
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jscolor.js"></script>
    <script type="text/javascript" src="/js/whiteboard.js"></script>
</head>

<body>

    <canvas class="cnv" id="canvas"></canvas>
    <canvas class="cnv" id="layer"></canvas>

    <div class="boardWidget">

        <div class="itemsContainer" id="toolContainer">
            <button class="tool boardBtn boardBtnSelected" id="pencil" title="Pencil"><img
                    src="images/pencil.ico" /></button>
            <button class="tool boardBtn" id="chalk" title="Chalk"><img src="images/chalk.ico" /></button>
            <button class="tool boardBtn" id="marker" title="Marker"><img src="images/marker.ico" /></button>
            <button class="tool boardBtn" id="spray" title="Spray"><img src="images/spray.ico"></button>
            <button class="tool boardBtn" id="circleBrush" title="Circle Brush"><img
                    src="images/circleBrush.ico" /></button>
            <button class="tool boardBtn" id="doubleBrush" title="Double Brush"><img
                    src="images/doubleBrush.ico" /></button>
            <button class="tool boardBtn" id="eraser" title="Eraser"><img src="images/rubber.ico" /></button>
            <button class="tool boardBtn" id="text"><i class="fa fa-font" title="Text"></i></button>
            <button id="bucket" class=" tool boardBtn" title="Bucket"><i class="fa fa-shopping-basket"></i></button>

            <!-- <button class="boardBtn">|</button> -->

            <button id="clear" class="boardBtn boardBtnSpecial" title="Clear"><i class="fa fa-recycle"> </i></button>
            <button id="undo" class="boardBtn boardBtnSpecial" title="Undo"><img src="images/undo.ico"></button>
            <button id="save" class="boardBtn boardBtnSpecial" title="Save"><img src="images/save.ico"></button>

            <hr>
            <button class="shape tool  boardBtn" id="rectangle" title="Rectangle"><img
                    src="images/rectangle.ico"></button>
            <!-- <button class="shape tool  boardBtn" id="line" title="Line">/|\</button> -->
            <button class="shape tool  boardBtn" id="circle" title="Circle"><img src="images/circle.ico"></button>
            <button class="shape tool  boardBtn" id="ellipse" title="Ellipse"><img src="images/ellipse.ico" /></button>
            <button class="shape tool  boardBtn" id="moon" title="Moon"><img src="images/moon.ico"></button>
            <button class="shape tool  boardBtn" id="star" title="Star"><img src="images/star.ico"></button>
            <button class="shape tool  boardBtn" id="arrow" title="Arrow"><img src="images/arrow.ico" /></i></button>
            <button class="shape tool  boardBtn" id="triangle" title="Triangle"><img src="images/triangle.ico" alt=""
                    class="src"></button>
            <button class="shape tool  boardBtn" id="face" title="Face"><img src="images/smiley.ico"></button>
            <button class="shape tool  boardBtn" id="love" title="Love"><img src="images/heart.ico" /></button>

            <!-- <button class="boardBtn boardBtnSpecial">|</button> -->
            <label><b>Size:</b></label>
            <select id="size" class="boardBtn">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="jscolor {valueElement:'', styleElement:'currentColor', onFineChange:'updateCurrentColor(this)'}"
            title="Choose Colors" id="currentColor"></div>
    </div>

    <div class="chatWidget">
        <div class="chatHead">
            <label id="chatMembers"> Chats : 0 </label>
            <button id="chatMinMax" class="chatBtn" title="Maximize/Minimize"><i class="fa fa-caret-down"></i></button>
            <button class="chatBtn" title="Settings"><i class="fa fa-gear"></i></button>
        </div>
        <div class="chatBody"></div>

        <input type="text" class="msgBox" id="txtChatMsg" />
        <button id="btnSend" title="Send" class="btn"><i class="fa fa-send"></i></button>

    </div>

    <div class="LobbyWidget">
        <h1 style="color: aliceblue;">Round 1 lobby</h1>
        <button id="startRoundButton" type="button">I'm Ready</button>
        <p id="lobbyWaitingTime" style="color: red; border: 1;">Starting in 5</p>
        <div id="playersJoinedList"></div>
    </div>

    <!-- todo: add style to css! -->
    <div class="ProblemWidget"
        style="text-align: left;border: 1px solid;padding: 20px;position: absolute;top: 100px;z-index: 2;right: 0;bottom: 0;width: 30%;">

        <p id="roundFinishingTime" style="color: red; border: 1;"></p>
        <h2>Problem : <span id="problemTitle" ></span></h2>
        <img id="problemImage" src="" alt="">
        <p id="problemDesc" ></p>
        <pre id="problemWords" ></pre>

    </div>

    <div class="VotingWidget" style="display: none;">
        <h1 style="color: aliceblue;">Vote for best solution: </h1>

        <div class="ProgressCircle">
            <p>Waiting for Solutions...</p>
        </div>
        <div class="VoteItemContainer">
            <!-- <div class="card VoteItem">
                <img src="https://t4.ftcdn.net/jpg/02/53/09/35/360_F_253093527_JQYXm71ouenCl3R29uIw0d5Fpovn8X3I.jpg" alt="solution" style="height: 100; width: 100%;">
                <p>username</p>
            </div> -->

        </div>
    </div>

    <div class="ResultsWidget" style="display: none;">

        <h1 style="color: aliceblue;">Round 1 Results are:</h1>

        <div class="ResultItemContainer">
            <!-- <h2 class="card ResultItem">"#1:    " + username + " got " + votes +" vote(s)"</h2> -->
        </div>

        <button id="backToLoginButton" style="margin: 30px;">Back</button>

    </div>

    <div id="textControl">
        <input type="text" class="boardBtn" id="txtText" placeholder="Enter text here" />
        <button class="boardBtn txtFontStyle" data-value="bold" title="Bold"><i class="fa fa-bold"></i></button>
        <button class="boardBtn txtFontStyle" data-value="italic" title="Italic"><i class="fa fa-italic"></i></button>
        <button class="boardBtn txtFontStyle" data-value="" title="Normal">N</button>
        <select id="txtFontFamily" class="boardBtn">
            <option>monoscape</option>
            <option>cursive</option>
            <option>sans-serif</option>
            <option>serif</option>
            <option>fantasy</option>
        </select>
        <input type="number" id="txtFontSize" class="boardBtn" value="12" max="72" min="8" />
        <button class="boardBtn" id="txtInsert">Insert</button>
        <button class="boardBtn" id="txtClose">Close</button>
    </div>

    <button class="notifier btn" id="chatNotifier"><i class="fa fa-bell"></i></button>

</body>

</html>