<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/owl-carousel.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>

    <title>Community</title>
</head>

<style>
  *{
    @import url('https://fonts.googleapis.com/css2?family=Lexend&family=PT+Sans&family=PT+Serif:ital@1&display=swap');
    /* font-family: 'PT Serif', serif; */
  }
</style>
<style>
  * {
    box-sizing: border-box;
  }

  /* body,
    html {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: orange;
    } */
  /* body,
  html {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .wrapper {
    align-items: center;
    margin: 13px 7px;
    display: inline-flex;
    width: 18.5%;
    justify-content: space-around;
  }


  .card {
    border: 4px solid black;
    width: 261px;
    height: 287px;
    border-radius: 18px;
    padding: 0.5rem;
    background: black;
    position: relative;
    display: flex;
    align-items: flex-start;
    transition: 0.4s ease-out;
    box-shadow: 5px 7px 10px rgb(0 0 0 /50%);
  }



  div:hover .card {
    transform: translateY(20px);
  }

  div:hover .card::before {
    opacity: 1;
  }

  div:hover .card .info {
    opacity: 1;
    transform: translateY(0px);
  }


  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }



  .card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
  }

  .card .info h1 {
    margin: 0px;
  }

  .card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }

  .card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }

  .card .info button:hover {
    background: dodgerblue;
    color: white;
  }
</style>

<body>

  <nav class="navbar py-0 navbar-expand-lg navbar-dark bg-info sticky-top">

		<div class="container-fluid" style = "width:60%">
			<a class="navbar-brand" href="/">
			  <b>DOODLE 4RCE</b>
			</a>
		  </div>
		  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
            <div class="container-fluid">
				<a class="navbar-brand" href="#"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarText">
				  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
					  <li class="nav-item">
						  <a class="nav-link" aria-current="page" href="home"><b><i class="fa fa-home" aria-hidden="true"></i> &nbsp;HOME</b></a>
						</li>
					<li class="nav-item">
					  <a class="nav-link" aria-current="page" href="battleground"
><b><i class="fa fa-gamepad" aria-hidden="true"></i> &nbsp;PLAY</b></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link active" aria-current="page" href="community"><b><i class="fa fa-users" aria-hidden="true"></i> &nbsp;COMMUNITY</b></a>
					</li>
          <li class="nav-item">
					  <a class="nav-link" aria-current="page" href="profile"><b><i class="fa fa-user" aria-hidden="true"></i> &nbsp;PROFILE</b></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" aria-current="page" href="contact"><b><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;CONTACT</b></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="drawboard"><b><i class="fa fa-paint-brush" aria-hidden="true"></i> &nbsp;DRAW</b></a>
					</li>
          <li class="nav-item">
						<a class="nav-link" aria-current="page" href="experts"><b><i class="fa fa-video-camera" aria-hidden="true"></i> &nbsp;EXPERTS</b></a>
					</li>
				</ul>
				  <span class="navbar-text">
					  <!-- THINK * CREATE * DOODLE -->
					<a class="nav-link" aria-current="page" href="/logout"><b> <i class="fa fa-sign-out" aria-hidden="true"></i>
            &nbsp; Logout</b></a>
        </span>
				</div>
			  </div>
		  <!-- </nav> -->
	  </nav>

  <!-- <div class="abc">
        <a href="/logout">Logout</a>
      </div> -->

  <a style="margin: 31px 639px;" class="btn btn-primary" href="blogs/new" role="button"><i class="fa fa-plus-circle"></i>
    Create a doodle post</a>

  <br>

  <p id="posts">
  </p>








  <script src="/js/index.js"></script>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyC7wqpGyJqXP4uOzQhZTWqps7wVL0hLBUY",
      authDomain: "toyxdoodle.firebaseapp.com",
      databaseURL: "https://toyxdoodle-default-rtdb.firebaseio.com",
      projectId: "toyxdoodle",
      storageBucket: "toyxdoodle.appspot.com",
      messagingSenderId: "363218346777",
      appId: "1:363218346777:web:41d238b31be91993885b88",
      measurementId: "G-VTTVKT07VH"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    function getdata() {
      firebase.database().ref('blogs/').once('value').then(function (snapshot) {
        //get your posts div
        var posts_div = document.getElementById('posts');
        //remove all remaining data in that div
        posts.innerHTML = "";
        //get data from firebase
        var data = snapshot.val();
        console.log(data);
        console.log("akshat");
        //now pass this data to our posts div
        //we have to pass our data to for loop to get one by one
        //we are passing the key of that post to delete it from database
        for (let [key, value] of Object.entries(data)) {
          console.log(value.title);
          posts_div.innerHTML = "<div class='wrapper'>" + "<div class='card'>" + "<img src=" + value.imageURL + ">" + "<div class='info'>" +
            "<h4>" + value.title + "</h4>" +  value.description + "</div>" + "</div>" + "</div>" + posts_div.innerHTML;
        }




      });
    }
    window.onload = function () {
      this.getdata();
    }

  </script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>


</body>

</html>