<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/owl-carousel.css">
    <title>Contact</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">

      <div class="container-fluid" style = "width:60%">
        <a class="navbar-brand" href="/">
          <b>DOODLE 4RCE</b>
        </a>
        </div>
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
              <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="home"><b><i class="fa fa-home" aria-hidden="true"></i> &nbsp;HOME</b></a>
              </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="login"><b><i class="fa fa-gamepad" aria-hidden="true"></i> &nbsp;PLAY</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="community"><b><i class="fa fa-users" aria-hidden="true"></i> &nbsp;COMMUNITY</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="contact"><b><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;CONTACT</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="drawboard"><b><i class="fa fa-paint-brush" aria-hidden="true"></i> &nbsp;DRAW</b></a>
  
            </li>
          </ul>
            <span class="navbar-text">
              <!-- THINK * CREATE * DOODLE -->
            </span>
          </div>
          </div>
        <!-- </nav> -->
      </nav>

      <!-- <h1> This is contact Us Page</h1>
      
      <p id = "demo"></p>
      <button onclick="move()">Click Me</button>  -->

      <section class="bg-white h-100">
        <div class="container py-5">
            <div class="row">
                <div class="order-lg-2 mb-3 mb-lg-0 col-lg-6 w-50 mx-auto">
                    <img src="../assets/images/contact.png">
                </div>
                <div class="order-lg-1 col-lg-6">
                    <div class="card rounded shadow p-3 p-md-4">
                        <h3 class="text-center font-weight-bold text-info">
                            Contact Us
                        </h3>
                        <p class="text-center">
                            Have a query? Drop us a message right now
                        </p>
                        <form action="">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="doolde4rce">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="doolde4rce@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Message</label>
                                <textarea class="form-control" name="message" id="message" cols="30" rows="6" placeholder="Describe your query here"></textarea>
                            </div>
                            <div class="btn btn-block btn-info">
                                Send
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script>


        // var myVar = setInterval(func_name, 1000);
        // var t=0;
        // function func_name() {
        //   t++;
        //   document.getElementById("element-to-get").innerHTML = t;
        //   if(t==10){
        //     // any function
        //     clearInterval(myVar);
        //   }
          
        //   //if(t===60) break;
        // }

        function move() {
          var elem = document.getElementById("demo");   
          var t = 0;
          var id = setInterval(frame, 1000);
          function frame() {
            if (t == 60) {
              
              clearInterval(id);
            } else {
              document.getElementById("demo").innerHTML = t;
              t++;
            }
          }
        }

    </script>
  </body>
</html>
