<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-info">

        <div class="container-fluid">
            <a class="navbar-brand" href="home">
              <img src="images/bg.png" width="30" height="24" class="d-inline-block align-top">
              <b>DOODLE 4RCE</b>
            </a>
          </div>

          <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
            <div class="container-fluid">
              <a class="navbar-brand" href="#">:)</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home"><b>HOME</b></a>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="login"><b>PLAY</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="community"><b>COMMUNITY</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="contact"><b>CONTACT</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="drawboard"><b>DRAW</b></a>
                  </li>
                </ul>
                <span class="navbar-text">
                  THINK * CREATE * DOODLE
                </span>
              </div>
            </div>
          <!-- </nav> -->
      </nav>

      <section class="h-100">
        <div class="position-absolute h-100 w-100" style="
                z-index: -1;
                /* background-image: url('images/back.jpg'); */
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
            "></div>

            <div class="container h-100 py-5">
              <div class="d-flex justify-content-center align-items-center mb-3">
                <div class="col-sm-8 text-center">
                    
                  <h5>Ready For Doodle War !!</h5>
                  <h1 class="font-weight-bold">
                      THINK • CREATE • DOODLE
                  </h1>
                  <h5 class="text-muted font-weight-normal">
                      An online interactive multiplayer doodling game
                  </h5>
                  <div class="">
                      <div class="btn btn btn-info">
                          <!-- Subscribe now -->
                      </div>
                      <div class="btn btn ml-3 btn-outline-info">
                          <!-- Learn more -->
                      </div>
                  </div>
                </div>
                </div>
            </div>
    </div>
    </section>
      
      <div class="col d-flex justify-content-center">

        <!-- spacing -->
        <div class="mt-4" />

        <a href="login" class="custom-card">
          <div class="card" style="width: 15rem; display: inline-block">
            <img class="card-img-top" src="images/doo1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">WORD DOODLE</h5>
              <p class="card-text">Doodling on the basis of keyword/hints [Same for all]</p>
            </div>
          </div>
        </a>

        <a href="login" class="custom-card">
          <div class="card" style="width: 15rem; display: inline-block">
            <img class="card-img-top" src="images/doo3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PICTURE DOODLE</h5>
              <p class="card-text">Each player has to doodle given picture</p>
            </div>
          </div>
        </a>

        <a href="login" class="custom-card">
          <div class="card" style="width: 15rem; display: inline-block">
            <img class="card-img-top" src="images/doo2.jpg" height="160px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">GUESS DOODLE</h5>
              <p class="card-text">A player draws the doodle and others guess the word.</p>
            </div>
          </div>
        </a>
    </div>    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
