
.VotingWidget{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 8 16 16 16;
}

.VoteItemContainer{
    width: 60%;
    height: 100%;
    overflow-y: scroll;
}

.VoteItem{
    max-height: 200;
    max-width: 200;
    background: aliceblue;
    height: fit-content;
    width: fit-content;
    padding: 1;
    margin: 16;
    display: inline-block;
}